# Jetbrains
.idea
# VS Code
.vscode

# Python compiled bins
__pycache__

# Ignore all backup files
*.bak

# Old Files
token.txt
money_log.txt
wallets.json
secrets.json

# Data and Config Files
users.db
users.db-journal
duels/talents.json
config.json
